
body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    font-family: Verdana; 
}

/* Main navigation  */


.mainNav{
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    min-height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    
}
.mainNav-logo{
    font-weight:bolder;
    color: #335576;
    font-size: 1.2rem;
    padding: 0 5rem;
}

.mainNav-list-box{
    display: flex;
    font-weight: 300;
    color: black;
    padding: 0 4rem;
}

.mainNav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: black;
}

.mainNav-link{
    padding: 0.8rem 0;
    margin: 0 1rem;
    text-decoration: none;
    color: black;
 }

 .mainNav-link__highlight{
    border-bottom: 2px #DB7A4E solid;
 }


/* footer */

 .footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10rem;
    width: 100%;
    background-color:#FEFAF5;
    color: #335576;
 }


.footer-info__box{        
    justify-content: space-around;
    align-items: center;
    margin-left: 0 8%;
    line-height: 1rem;

}

.footer-info{
    display: inline-block;
    padding-right: 2rem;
    font-size: 0.5rem;
}

.footer-info-title{
    font-weight:700;
    
}

 .footer-info-logo{
    max-width: 1.5rem;
    max-height: 1.5rem;
    display: inline-block;
    padding: 1rem 1.5rem 1rem 0;  
 }

 .footer-info-subtitle{
    color: #DB7A4E;
    text-transform: uppercase;
 }

/* Card */
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem;
   
}

 .eachcard{
    border-radius: 5px;
    border: rgba(0, 0, 0, 20%) solid ;
    box-shadow: 0 4px 4px  rgba(0, 0, 0, 0.5);
    position: relative;
    min-width: 280px;
    max-width: 300px;
    min-height: 400px;
    max-height: 420px;
 }